@font-face {
    font-family: "IBM-Font";
    src: url("/font/WebPlus_IBM_BIOS.woff2") format("woff2"),
        url("/font/WebPlus_IBM_BIOS.woff") format("woff");
}

* {
    font-family: "IBM-Font";
}

:root {
    display: flex;
    flex-flow: row wrap;
    background-color: #041A40;
    background-image: url(/images/stars.png);
    background-size: 99%;
    overflow-x: clip;
}

p,
a {
    color: white;
    font-family: "IBM-Font";
    font-size: 12px
}

p:first-of-type,
div.summary>p:nth-child(2) {
    padding-top: 3.513vh;
}

p:last-of-type,
div.summary>p:nth-child(2) {
    padding-bottom: 3.513vh;
}

div.summary>p:nth-child(2) {
    margin-top: 1.756vh;
}

p {
    background-color: #4C408E;
    padding: 3.513vh;
    margin: -3.513vh;
    border-radius: 1.756vh;
    overflow: clip;
}

div.summary p {
    background-color: transparent;
    overflow: clip;
}

h1,
h2,
h3 {
    color: white;
    font-family: "IBM-Font";
    font-size: 24px;
}

header>h1::before {
    content: url(/images/s-sun.png);
    padding-right: 4.444vh;
    padding-left: 3.513vh;
}

#zen-intro > header > h1 {
    display: flex;
    justify-self: center;
    border-top: 0.527vh solid white;
    border-bottom: 0.527vh solid white;
    align-items: center;
}

div h2,
div h3,
div h4 {
    justify-self: center;
    border-top: 0.527vh solid white;
    border-bottom: 0.527vh solid white;
    padding: 1.054vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin: 7.025vh;
    overflow: clip;
}

header>h1::after {
    content: url(images/smoondark.png);
    padding-left: 3.513vh;
}

header>h2::before {
    content: url(/images/m-moondark.png);
    position: absolute;
    top: 12.5%;
    left: 48.5vw;
    transform: translateX(-53%);
    margin-top: 1.756vh;
}

header> h2 {
    margin-top: 21.076vh;
}

div.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    overflow: clip;
}

div.preamble>h3 {
    display: flex;
    justify-self: flex-start;
    z-index: 5;
    border-color: white;
    color: #4C408E
}



div.preamble>h3::after {
    content: url(/images/rocket.png);
    position: absolute;
    left: -55vw;
    top: 55vh;
    animation: 10ms 1 normal slide-right;
    animation-timeline: view();
    animation-range-start: 41vh;
    z-index: -1;
}

div.preamble p {
    margin-left: -1vw;
    margin-right: 2vw;
    animation: 1000ms normal slide-right;
    overflow: clip;
}

@keyframes slide-right {
    from {
        translate: -150% 0;

    }

    to {
        translate: 1.756vh 0;
    }
}

div.explanation>h3::before {
    content: url(/images/meteor.png);
    position: absolute;
    right: -40vw;
    top: 89vh;
    z-index: -1;
    animation: 10ms 1 normal slide-left-shrink;
    animation-timeline: view();
    animation-range-start: -90vh;
    overflow: clip;
}

div.explanation>h3:first-child {
    display: flex;
    justify-self: flex-end;
    margin-top: 14%;
    border-color: white;
    color:#4C408E;
}

div.explanation p {
    margin-left: 3.513vh;
    animation: 1000ms 1 normal slide-left;
    animation-timeline: view();
    animation-range-start: -1400vh;
    /* animation-timeline: scroll() */
}

@keyframes slide-left {
    from {
        translate: 1756.312vh 0;
    }

    to {
        translate: -1.756vh 0;
    }
}

div.participation>h3 {
    justify-self: center;
    margin-top: 35.126vh;
    color: #4C408E
}

div.participation>h3::after {
    content: url(/images/comet.png);
    position: absolute;
    left: -34vw;
    top: 138vh;
    z-index: -1;
    animation: 1000ms 1 normal slide-right-shrink;
    animation-timeline: view();
    overflow: clip;
    animation-range-start: -30vh;
}

@keyframes slide-right-shrink {
    from {
        translate: -170vw 0;
        transform: scale(0.00000000000000000001)
    }

    to {
        translate: 1.756vh 0;
        transform: scale(1)
    }
}

@keyframes slide-left-shrink {
    from {
        translate: 440vw 0;
        transform: scale(0.00000000000001)
    }

    to {
        translate: -1.756vh 0;
        transform: scale(1)
    }
}

div[class~=main] {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

[id|=zen-benefits],
div[id^=zen-req] {
    width: calc(85vw / 2);
    margin-top: 14.815vh;
}

[id|=zen-benefits] {

}

[id|=zen-benefits] > h3, div[id^=zen-req] > h3 {
    border-color: white;
    color: #4C408E;
}

[id|=zen-benefits] > h3::after {
    content: url(/images/rocket.png);
    position: absolute;
    left: -67vw;
    top: 222.2vh;
    z-index: -1;
    overflow: clip;
    animation: 10ms 1 normal slide-right;
    animation-timeline: view();
    animation-range-start: -40vh;
}

[id|=zen-benefits] p {
    background-color: #6B84A0;
    animation: 100ms 1 normal slide-right;
    animation-timeline: view();
    animation-range-start: -700vh;
}

div[id^=zen-req] > h3::before {
    content: url(/images/alienrocket.png);
    position: absolute;
    top: 212.2vh;
    left: 54.5vw;
    z-index: -1;
    overflow: clip;
    animation: 10ms 1 normal slide-left;
    animation-timeline: view();
    animation-range-start: -380vh;
}

div[id^=zen-req] p {
    background-color: #6B84A0;
}

footer {
    position: absolute;
    bottom: -282vh;
    left: 50vw;
    transform: translateX(-50%);
}

/* footer::after {
    content: '/images/land.svg';
    height: 100%;
    position: absolute;
    transform: rotate(17deg);
    top: -920%;
    z-index: -1;
    left: 180%;
    overflow: clip;
}

footer {
    position: absolute;
    bottom: -280%;
    left: 20%;
    transform: translateX(-50%);
}

aside {
    margin-top: 17.563vh;
}

aside::after {
    content: url(/images/earth2.png);
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    bottom: -316.136vh;
    overflow-y: clip;
    z-index: -1;
}

aside > div.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.design-selection,
[id$=archives],
[id*=resources] {
    width: calc(97vw /3);
}

div.zen-resources::after {
    content: url(/images/bsun.png);
    position: absolute;
    top: 340vh;
    animation: 1s infinite normal sun-spin;
}

div.extra1 {
    position: relative;
    overflow: clip;
}
@keyframes sun-spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
} 

h3+ul,
h3~nav {
    color: white;
}