@font-face {
    font-family: "IBM-Font";
    src: url("/font/WebPlus_IBM_BIOS.woff2") format("woff2"),
        url("/font/WebPlus_IBM_BIOS.woff") format("woff");
}

* {
    font-family: "IBM-Font";
}

:root {
    background-color: #041A40;
    background-image: url(/images/stars.png);
    background-size: 99%;
    overflow-x: clip;
}

p,
a {
    color: white;
    font-family: "IBM-Font";
    font-size: 12px
}

p:first-of-type,
div.summary>p:nth-child(2) {
    padding-top: 2rem;
}

p:last-of-type,
div.summary>p:nth-child(2) {
    padding-bottom: 2rem;
}

div.summary>p:nth-child(2) {
    margin-top: 1rem;
}

p {
    background-color: #4C408E;
    padding: 2rem;
    margin: -2rem;
    border-radius: 1rem;
    overflow: clip;
}

div.summary p {
    background-color: transparent;
    overflow: clip;
}

h1,
h2,
h3 {
    color: white;
    font-family: "IBM-Font";
    font-size: 24px;
}

header>h1::before {
    content: url(/images/s-sun.png);
    padding-right: 3rem;
    padding-left: 2rem;
}

#zen-intro > header > h1 {
    display: flex;
    justify-self: center;
    border-top: .3rem solid white;
    border-bottom: .3rem solid white;
    align-items: center;
}

div h2,
div h3,
div h4 {
    justify-self: center;
    border-top: .3rem solid white;
    border-bottom: .3rem solid white;
    padding: .6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 4rem;
    overflow: clip;
}

header>h1::after {
    content: url(images/smoondark.png);
    padding-left: 2rem;
}

header>h2::before {
    content: url(/images/m-moondark.png);
    position: absolute;
    top: 7rem;
    left: 49%;
    transform: translateX(-53%);
    margin-top: 1rem;
}

header> h2 {
    margin-top: 12rem;
}

div.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    overflow: clip;
}

div.preamble>h3 {
    display: flex;
    justify-self: flex-start;
    z-index: 5;
    border-color: white;
    color: #4C408E
}



div.preamble>h3::after {
    content: url(/images/rocket.png);
    position: absolute;
    left: -70rem;
    top: 30.8rem;
    animation: 10ms 1 normal slide-right;
    animation-timeline: view();
    animation-range-start: 0.9%;
    z-index: -1;
}

div.preamble p {
    margin-right: 2rem;
    animation: 1000ms normal slide-right;
    overflow: clip;
}

@keyframes slide-right {
    from {
        translate: -170vw 0;
    }

    to {
        translate: 1rem 0;
    }
}

div.explanation>h3:first-child {
    display: flex;
    justify-self: flex-end;
    margin-top: 20rem;
    border-color: white;
    color:#4C408E;
}

div.explanation>h3::before {
    content: url(/images/meteor.png);
    position: absolute;
    right: -40%;
    top: 89%;
    z-index: -1;
    animation: 10ms 1 normal slide-left;
    animation-timeline: view();
    animation-range-start: -90%;
    overflow: clip;
}

div.explanation p {
    margin-left: 2rem;
    animation: 1000ms 1 normal slide-left;
    animation: 1000ms 1 normal slide-right;
    animation-timeline: view();
    animation-range-start: -1400%;
    /* animation-timeline: scroll() */
}

@keyframes slide-left {
    from {
        translate: 1000rem 0;
    }

    to {
        translate: -1rem 0;
    }
}

div.participation>h3 {
    justify-self: center;
    margin-top: 20rem;
    color: #4C408E
}

div.participation>h3::after {
    content: url(/images/comet.png);
    position: absolute;
    left: -34%;
    top: 138%;
    z-index: -1;
    animation: 1000ms 1 normal slide-right;
    animation-timeline: view();
    overflow: clip;
    animation-range-start: -30%
}

div[class~=main] {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

[id|=zen-benefits],
div[id^=zen-req] {
    width: calc(90% / 2);
    margin-top: 10rem;
}

[id|=zen-benefits] {

}

[id|=zen-benefits] > h3, div[id^=zen-req] > h3 {
    border-color: white;
    color: #4C408E;
}

[id|=zen-benefits] > h3::after {
    content: url(/images/rocket.png);
    position: absolute;
    left: -67%;
    top: 219.9%;
    z-index: -1;
    overflow: clip;
    animation: 10ms 1 normal slide-right;
    animation-timeline: view();
    animation-range-start: -380%;
}

[id|=zen-benefits] p {
    background-color: #6B84A0;
    animation: 100ms 1 normal slide-right;
    animation-timeline: view();
    animation-range-start: -700%;
}

div[id^=zen-req] > h3::before {
    content: url(/images/alienrocket.png);
    position: absolute;
    top: 210.4%;
    left: 54.5%;
    z-index: -1;
    overflow: clip;
    animation: 10ms 1 normal slide-left;
    animation-timeline: view();
    animation-range-start: -380%;
}

div[id^=zen-req] p {
    background-color: #6B84A0;
}

footer {
    position: absolute;
    bottom: -160rem;
    left: 50%;
    transform: translateX(-50%);
}

aside {
    margin-top: 10rem
}

aside::after {
    content: url(/images/earth.png);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -180rem;
    overflow: clip;
    
}

aside > div.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.design-selection,
[id$=archives],
[id*=resources] {
    width: calc(97% /3);
}

div.zen-resources::after {
    content: url(/images/bsun.png);
    position: absolute;
    top: 340%;
    animation: 1s infinite normal earth-spin;
}

@keyframes earth-spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
} 

h3+ul,
h3~nav {
    color: white;
}